/*公共样式*/
body, div,ul,li, p,h1,h2,h3,h4,h5,h6,input,a, dl, dt,dd{margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none; color:#666;}
input{ border:none;outline:none;}
img{ border:0; display:block; vertical-align: top;}
textarea{ resize: none;}
i{font-style:normal;}
input,button,select,textarea{outline:none;}
textarea{resize:none;}
.clearfix:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0;
    width: 0;
}
/*头部样式*/
.header_logo{
    width: 100%;
    position: relative;
    height: 80px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
}
.header_logo>.header_logo_left{
    /*width: 300px;*/
    width: 22.3%;
    height: 100%;
    border-right: 1px solid #ccc;
    background: url(../images/enterprise/enter_logo.jpg) no-repeat left top/cover;
    background-size: contain;
    line-height: 80px;
    font-size: 32px;
    padding-right: 0px;
    text-indent: 130px;
    float: left;
}
.header_logo>.header_logo_right2{
    width: 76.7%;
    height: 100%;
    float: left;
}
.header_logo>.header_logo_right2>img{
    /*width: 100%;*/
}
.header_logo_mid{
    width: 350px;
    height: 100%;
    float: left;
    text-align: center;
}
.header_logo_mid p{
    font-size: 28px;
    color: red;
    font-family: "叶根友毛笔行书2.0版";
}
.header_logo_mid p:last-child{
    text-indent: 4em;
}
.header_logo_right{
    /*width: 280px;*/
    /*height: 100%;*/
    height: 64px;
    float: left;
    padding-top: 20px;
    padding-left: 10px;
}
.header_logo_right ul li{
    float: left;
    width: 16px;
    border-left: 1px solid #333;
    margin-right: 20px;
    font-size: 14px;
    padding-left: 5px;
    font-family: "仿宋";

}
.header_logo>.header_tel{
    position: absolute;
    right: 100px;
    bottom: 8px;
    font-size: 18px;
    color: #ea1f74;
}
/*列表样式*/
.nav_list{
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    top:101px;
    z-index: 100;
    border: 1px solid #ccc;
    background-color: #7c3507;
}
.nav_list>.nav_menu{
    display: flex;
    justify-content: center;
    width: 89%;
    height: 100%;
    align-items: center;
}
.nav_list>.nav_menu>li>a{
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    width: 110px;
    height: 38px;
    color: #fff;
    display: block;
}
.nav_list>.nav_menu>li>a:hover{
    color: red;
}
.active{
    color: red!important;
}
/*底部地址*/
.footer_address{
    background-color: #3F3F3F;
    width: 100%;
    margin: 0 auto;
    height: 245px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: #fff;
    line-height: 30px;
    padding-bottom: 20px;
    font-size: 16px;
}

/*返回顶部按钮*/
.to_top{
    right: 20px;
    bottom: 60px;
    width: 50px;
    /*height: 70px;*/
    cursor: pointer;
    position: fixed;
    bottom: 10%;
    right: 1%;
    display: none;
    font-size: 12px;
    text-align: center;
}
.to_top>img{
    width: 100%;
    display: block;
    margin-bottom: 3px;
}

/*更多联系方式*/
.header_more{
    position: fixed;
    right: 2%;
    top: 25%;
    width: 60px;
    /*height: 60px;*/
    cursor: pointer;
    z-index: 102;
}
.header_more>img{
    width: 100%;
}
.header_more ul{
    width: 100%;
    /*display: none;*/
}
.header_more ul li{
    height: 54px;
    width: 54px;
    background-color: #9bbb59;
    border: 3px solid #666;
    margin: 8px 0;
    border-radius: 6px;
    line-height: 54px;
    text-align: center;
    font-size: 16px;
    color: red;
}

.wechat{
    background: url(../images/header/wechat.png) no-repeat left top/cover;
    width: 200px;
    height:192px;
    position: fixed;
    right: 100px;
    top:192px;
    border:1px solid #666;
    z-index: 200;
    background-color: #ebebeb;
    display: none;
}
.qq{
    background: url(../images/header/qq.png) no-repeat left top/cover;
    width: 200px;
    height:60px;
    position: fixed;
    right: 100px;
    top:327px;
    border:1px solid #666;
    z-index: 200;
    background-color: #ebebeb;
    display: none;
}
.phone{
    background: url(../images/header/phone.png) no-repeat left top/cover;
    width: 200px;
    height:60px;
    position: fixed;
    right: 100px;
    top:192px;
    border:1px solid #666;
    z-index: 200;
    background-color: #ebebeb;
    display: none;
}

/*意见反馈*/
.feedback{
    width: 200px;
    position: fixed;
    right: 100px;
    top:192px;
    border:1px solid #666;
    z-index: 200;
    background-color: #ebebeb;
    display: none;
}
.feedback>.feedback_top{
    width: 100%;
    height: 30px;
    background-color: #01f4Ad;
}
.feedback>.feedback_top p{
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    width: 160px;
    text-indent: 10px;
}
.feedback_mid{
    width: 180px;
    padding: 0 10px;
    background-color: #ededed;
    line-height: 36px;
    font-size: 14px;
    border-bottom: 1px solid #666;
}
.message{
    width: 190px;
    padding: 0 5px;
}
.message>textarea{
    width: 96%;
    margin-top: 10px;
    height: 50px;
    line-height: 17px;
    font-size: 13px;
    border: 1px solid #666;
}
.feedback_name,.feedback_tel{
    line-height: 28px;
    margin-left: 5px;
    width: 176px;
    /*margin: 5px;*/
    font-size: 13px;
    border: 1px solid #666;
    margin: 8px 5px;
    padding: 0 5px;
}
.feedback_tel{
    margin-top: 0;
}
.feedback_btn{
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #fff;
    background-color: #01f4Ad;
    border: none;
    margin-left: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.red{
    border: 1px solid red!important;
}

@media screen and (max-width:1024px){
    .nav_list>.nav_menu>li>a{
        width: 90px;
    }
    .nav_menu{
        margin-left: 50px;
    }
}
@media screen and (max-width:1080px){
    .nav_menu{
        margin-left: 36px;
    }
}